@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#blog {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background: #333;
    padding: 2rem;
    position: relative;
}

#blog:before {
    content: '';
    background: url('../../../content/assets/img/blog-showcase.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#blog .blog-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

#blog .blog-container .blog-content {
    z-index: 1;
}

#blog .blog-container .blog-content p{
    margin-top: 8rem;
    font-size: 1.2rem;
}

/* Articles*/

#blog-articles {
    margin: 1rem;
    /* background-color: #f4f4f4; */
    font-family: 'Open Sans', sans-serif; 
}

#blog-articles .grid-articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    justify-items: center;
}

@media(max-width: 768px) {
    #blog .blog-container {
        height: 38vh;
    }
    #blog-articles .grid-articles-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 340px) {
    #blog .blog-container {
        height: 45vh;
    }
    
}