@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#process {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background: #333;
    padding: 2rem;
    position: relative;
}

#process:before {
    content: '';
    background: url('../../../content/assets/img/process-showcase.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#process .process-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

#process .process-container .process-content {
    z-index: 1;
}

#process .process-container .process-content p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

/* Cards */


#process-card {
    margin: 5rem;
    background-color: #f4f4f4;
    font-family: 'Open Sans', sans-serif; 
}

#process-card .grid-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-items: center;

}

#process-card .grid-card-container .card {
    display: grid;
    grid-template-rows:0.5fr 0.1fr 4fr;
    padding: 0.25rem;
    justify-content: center;
    text-align: center;
    height: 22rem;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0.5rem 1rem 3rem rgba(66, 66, 66, 0.794);
    transition: 0.4s ease-out;

  }

  #process-card .grid-card-container .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }

  #process-card .grid-card-container .card .title {
      color: #333;
      font-size: 1.5rem;
      margin: 0.5rem;
}

#process-card .grid-card-container .card .bar {
    height: 1px;
    background: radial-gradient(rgb(0, 156, 217), rgb(255, 255, 255) 80% );
}

#process-card .grid-card-container .card p {
    margin: 1rem;
}

  @media(max-width:920px) {
    #process-card .grid-card-container{
        grid-template-columns: 1fr 1fr;
    }
  }

  
  @media(max-width:720px) {
    #process-card .grid-card-container{
        grid-template-columns: 1fr;
    }
  }